.center {
  margin: 0 auto;
  max-width: 65.8rem;
  padding: 6.4rem 1.6rem 14.5rem;
  text-align: center;
}

.header__image {
  margin: 0 auto;
}

.header__title {
  color: var(--color-1);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem;
  margin-block: 3.2rem 1.6rem;
}

.header__span {
  color: var(--color-2);
  font-weight: 700;
}

.main__text {
  color: var(--color-3);
  font-size: 1.5rem;
  line-height: 147%;
  margin-top: 3.2rem;
}

.main__text:first-child {
  margin-top: 0;
}

.main__span {
  color: var(--color-1);
  font-weight: 700;
}

.footer {
  margin-top: 6.4rem;
}

.menu__list {
  border-top: .1rem solid var(--color-4);
  display: flex;
    gap: 4.2rem;
    justify-content: center;
  margin: 0 auto;
  max-width: 39.1rem;
  padding-top: 1.6rem;
}

.menu__link {
  color: var(--color-1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 147%;
  text-decoration: none;
}

@media (hover: hover) {

  .menu__link:hover {
    text-decoration: underline;
  }

}